name: Kafka Integration Build
run-name: "Event: Tag ${{ github.event.client_payload.tag }} from ${{ github.event.client_payload.repo }}  #${{ github.run_number }}"
permissions:
  contents: read
  packages: write
  actions: read
on:
  repository_dispatch:
    types: [kafka-patched-build]

concurrency:
  group: ${{ github.ref_type == 'branch' && format('build-branch-{0}', github.ref_name) || format('build-{0}', github.sha) }}
  cancel-in-progress: true

env:
  INTEGRATION_BUILD_BRANCH: "feature/integration-build"
  TARGET_REF: ${{ github.event.client_payload.target-ref || github.ref }}
  KAFKA_DISTRO_URL: ${{ github.event.client_payload.kafka-distro-url }}
  KAFKA_VERSION: ${{ github.event.client_payload.kafka-version }}
  REPLACE_SYMBOL: ${{ github.event.client_payload.replace-symbol }}

jobs:
  prepare-inputs:
    runs-on: ubuntu-latest
    outputs:
      build_args: ${{ steps.set-vars.outputs.build_args }}
    steps:
      - name: Set Variables
        if: github.event_name == 'repository_dispatch' && github.event.action == 'kafka-patched-build'
        id: set-vars
        run: |
          kafka_distro_tgz="${KAFKA_DISTRO_URL##*/}"
          echo 'build_args<<EOF' >> $GITHUB_OUTPUT
          echo "KAFKA_DISTRO_URL=${KAFKA_DISTRO_URL}" >> $GITHUB_OUTPUT
          echo "DISTRO_NAME=${kafka_distro_tgz%.*}" >> $GITHUB_OUTPUT
          echo "KAFKA_VERSION=${KAFKA_VERSION}" >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

      - name: Debug
        run: |
          echo "build_args: ${{ steps.set-vars.outputs.build_args }}"
      - name: Show payload
        run: |
          echo "${{ toJson(github.event.client_payload) }}"

  prepare:
    name: "Prepare Images and Metadata"
    needs: [prepare-inputs]
    runs-on: ubuntu-latest
    outputs:
      components: ${{ steps.load.outputs.components }}
      platforms: ${{ steps.load.outputs.platforms }}
      tags: "${{ steps.meta.outputs.result }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ env.TARGET_REF }}
          fetch-depth: 0
      - name: Prepare ${{ env.INTEGRATION_BUILD_BRANCH }}
        run: |
          git fetch origin
          if git show-ref --verify --quiet refs/heads/${{ env.INTEGRATION_BUILD_BRANCH }}; then
            git checkout ${{ env.INTEGRATION_BUILD_BRANCH }}
            git reset --hard origin/${{ env.TARGET_REF }}
          else
            git checkout -b feature/integration-build origin/${{ env.TARGET_REF }}
          fi 

      - id: load
        run: |
          echo "components=$(jq -c '.components' .github/docker-build-config.json)" >> "$GITHUB_OUTPUT"
          echo "platforms=$(jq -c '.platforms' .github/docker-build-config.json)" >> "$GITHUB_OUTPUT"

      - name: Create tags for images
        uses: netcracker/qubership-workflow-hub/actions/metadata-action@v2.0.5
        id: meta
        with:
          default-template: "{{ref-name}}"
          default-tag: ''
          ref: ${{ env.INTEGRATION_BUILD_BRANCH }}
          extra-tags: ${{ github.event.client_payload.tag }}
          replace-symbol: ${{ env.REPLACE_SYMBOL }}

  build:
    name: ${{ matrix.component.name }}
    needs: [prepare-inputs, prepare]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        component: ${{ fromJson(needs.prepare.outputs.components) }}
    steps:
      - name: Docker
        uses: netcracker/qubership-workflow-hub/actions/docker-action@v2.0.5
        with:
          ref: ${{ env.TARGET_REF }}
          download-artifact: false
          component: ${{ toJson(matrix.component) }}
          platforms: ${{ needs.prepare.outputs.platforms }}
          tags: ${{ needs.prepare.outputs.tags }}
          build-args: ${{ needs.prepare-inputs.outputs.build_args }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # Kafka-Pipeline:
  #   needs: build
  #   uses: Netcracker/qubership-test-pipelines/.github/workflows/kafka.yaml@ad32edfdc745328e61b9b0eca992a68b91e96e20
  #   with:
  #     service_branch: '${{ github.event.client_payload.target-ref || github.head_ref || github.ref }}'
  #     versions_file: '.github/versions.yaml'
  #     pipeline_branch: 'ad32edfdc745328e61b9b0eca992a68b91e96e20' #this value must match the value after '@' in 'uses'
  #   secrets:
  #     AWS_S3_ACCESS_KEY_ID: ${{secrets.AWS_S3_ACCESS_KEY_ID}}
  #     AWS_S3_ACCESS_KEY_SECRET: ${{secrets.AWS_S3_ACCESS_KEY_SECRET}}
